
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    background-color: rgb(67, 56, 56);
  }
 
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px; 
    padding: 20px;
  }

  .gallery img {
    width: 100%;
    height: auto; 
    border-radius: 8px; 
    transition: transform 0.3s, filter 0.3s;
  }
  

  .gallery img:hover {
    transform: scale(1.05);
    filter: brightness(0.8); 
  }
  
 
  @media (max-width: 768px) {
    .gallery {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
  }
  
  @media (max-width: 480px) {
    .gallery {
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }
  }